@use "../variables" as *;
@use "../media" as *;

.store {
  padding: 120px 0;
  position: relative;

  @include laptop {
    padding: 100px 0;
  }
  @include mobile {
    padding: 80px 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__categories {
    display: flex;
    align-items: center;
    gap: 28px;

    @include mobile {
      gap: 14px;
    }
  }

  &__categories-btn {
    position: relative;
    padding-bottom: 10px;
    color: $carrot;

    @include mobile {
      padding-bottom: 4px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: $green;
      transition: .36s;
    }

    &:hover {
      color: $green;
    }
    
    &_active {
      color: $green;
      pointer-events: none;

      &::after {
        width: 100%;
      }
    }
  }

  &__cart-btn {
    position: relative;
    color: $carrot;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: end;

    @media (max-width: 480px) {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &__cart-count {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.6;
    color: $light;
  }

  &__cart-icon {
    position: absolute;
    z-index: 1;
    inset: 0;
  }

  &__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.3;
    color: $green;

    @include laptop {
      font-size: 44px;
    }
    @include tablet {
      margin-bottom: 18px;
    }
    @include mobile {
      margin-bottom: 16px;
      font-size: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 420px));
    justify-content: center;
    gap: 20px;

    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }
}
